<section class="newsletter">
    <div class="contenido-newsletter contenedor">
        <div class="texto-newsletter">
            <h2>Recibe Actualizaciones</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, facere tempore? Labore rem aliquam sunt repudiandae dignissimos optio similique fugiat. Provident fuga, nemo veniam eius quasi magnam incidunt dolores architecto.</p>

            <form class="formulario" action="">
                <div class="input">
                    <input type="text" placeholder="Tu email">
                </div>

                <input type="submit" value="Inscribirme">
            </form>
        </div>

    </div>
</section>
