<main class="contenedor modelos">
    <h2 class="text-center degradado-verde header-modelos">Elige tus TechPro</h2>

    <div class="listado-modelos">
        <div class="modelo modelo-x" [style.backgroundImageGradientUrl]="backgroundImageGradientUrl">
            <h3>TechPro X</h3>
            <p class="precio">$299</p>
        </div>
        <div class="modelo modelo-y" [style.backgroundImageGradientUrlY]="backgroundImageGradientUrlY">
            <h3>TechPro Y</h3>
            <p class="precio">$399</p>
        </div>
        <div class="modelo modelo-z" [style.backgroundImageGradientUrlZ]="backgroundImageGradientUrlZ">
            <h3>TechPro Z</h3>
            <p class="precio">$499</p>
        </div>
    </div>
</main>
