
/* Header */
.header {
    background-color: var(--negro);
    padding: 10rem;
    color: var(--blanco);
}

@media (min-width: 768px){
     .contenido-header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
     }
}