<section class="sobre-tech" [style.backgroundImageGradientUrl]="backgroundImageGradientUrl">
    <div class="contendor sobre-tech-grid">
        <div class="texto-sobre-tech">
            <h2>Sobre los <span>TechPRO</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia minima iusto tempore architecto praesentium fugit quod voluptatibus impedit possimus consequatur optio modi, dolorum obcaecati aliquid corrupti molestias quos laboriosam ducimus?</p>
        </div>
    </div>

</section>

