<section class="contenedor">
    <div class="iconos">
        <div class="icono">
            <img src="assets/img/icono-sonido.svg" alt="sonido">
            <h3>Gran Sonido</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque quisquam recusandae omnis, aspernatur praesentium exercitationem placeat! Rem dolor ratione unde rerum odit mollitia, consequuntur voluptatum velit, itaque ullam amet sunt?</p>
        </div>
        <div class="icono">
            <img src="assets/img/icono-garantia.svg" alt="sonido">
            <h3>Garantía de por vida</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque quisquam recusandae omnis, aspernatur praesentium exercitationem placeat! Rem dolor ratione unde rerum odit mollitia, consequuntur voluptatum velit, itaque ullam amet sunt?</p>
        </div>
        <div class="icono">
            <img src="assets/img/icono-bateria.svg" alt="sonido">
            <h3>+20 Horas de bateria</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque quisquam recusandae omnis, aspernatur praesentium exercitationem placeat! Rem dolor ratione unde rerum odit mollitia, consequuntur voluptatum velit, itaque ullam amet sunt?</p>
        </div>

    </div>
</section>
