/* You can add global styles to this file, and also import other style files */
:root {
    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Lato', sans-serif;
}

body {
    font-family: var(--fuentePrincipal);
}